{%- capture image_product -%}
    {%- assign image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
    <a class="product-card__image js image-content__image-wrapper {{ settings.size_image_grid }}" href="{{ product.url | within: collection }}" style="max-width: 680px;padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;" data-image-id="{{ image.id }}">
      {%- assign img_url = image | image_url: width: 1 | replace: 'width=1', 'width={width}' -%}
      <img class="lazyload scale-in first-image"
            data-src="{{ img_url }}"
            src="{{ image | image_url: width: 1, height: 1 }}"
            data-sizes="auto"
            data-widths="[180, 360, 540, 720]"
            alt="{{ image.alt | escape }}"
            loading="lazy"
            width="{{ image.width }}"
            height="{{ image.height }}">
          {% render 'second-image' , product: product %}
    </a>
  {%- endcapture -%}
  {% capture vendor %}
    {%- if enable_type and product.vendor != blank -%}
         <a class="mb-1 product-card__type d-inline-block" href="/collections/vendors?filter.p.vendor={{ product.vendor }}&q={{ product.vendor }}">{{ product.vendor }}</a>
         {%- endif -%}
   {% endcapture %}
   
   {%- comment -%} price {%- endcomment -%}
   {% capture price %}
     <div class="product-card__price {% if product.compare_at_price > product.price %} product-card__pricesale {% endif %}">
     {%- if product.compare_at_price > product.price -%}
     {%- if product.price_varies -%}
     {%- assign sale_price = product.price | money -%}
     {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
     {%- else -%}
     <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
     {{ product.price | money }}
     <s class="product-card__regular-price">{{ product.compare_at_price | money }}</s>
     <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
    
     {%- endif -%}
     {%- else -%}
     {%- if product.price_varies -%}
     {%- assign price = product.price | money -%}
     {{ 'products.product.from_text_html' | t: price: price }}
     {%- else -%}
     <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
     {{ product.price | money }}
     {%- endif -%}
     {%- endif -%}
     </div>
   {% endcapture %}
   {% capture review %}
     {%- if enable_review -%}
     <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
     {%- endif -%}
   {% endcapture %}
   <div class="product-card js-product-card product-card--style2 text-left" data-price="{{ product.price }}">
  <div class="product-card__image-wr">
    {{ image_product }}
    {%- liquid
      if settings.enable_countdown_card
          render 'product-countdown', product : product
      endif
      render 'product-label', product: product
    -%}

  </div>
  <div class="product-card__info">
    {%- render 'swatch-grid-1', product: product -%}
    {{ price }}
    <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="d-block product-card__name {% if settings.t_product %} text-uppercase {% endif %}">{{ product.title }}</a>
    {{ vendor }}
    {{ review }}
    <div class="product-form__item product-form__item--submit d-flex justify-content-end-lg flex-row align-items-center">
      <span class="py-3 js-grid-cart d-inline-flex align-items-center {% unless product.available %} disabled{% endunless %}" 
        title="{{ 'products.product.add_to_cart' | t }}" 
        data-id="{{ product.selected_or_first_available_variant.id }}">
        <div class="product-card__loading spinner-{{ settings.loading }}" role="status"></div>
        {%- render 'icon-cart-product' -%}
        <span class="mx-2 fz-n4 text-uppercase">{% if product.available %}{{ 'products.product.add_to_cart' | t }} {% else %} {{ 'products.product.sold_out' | t }} {% endif %}</span>
       
      </span>
      <div class="service-product-2 d-inline-flex align-items-center">
        {%- if settings.qv_box -%}
        <span  class=" js-btn-quickview product-card__overlay-btn" data-toggle="modal" 
          data-target="#jsQuickview" data-handle="{{ product.handle }}"
          data-pavailable="{% if product.available %}true{% else %}false{% endif %}"
          >
          <span class="d-block" title="{{ 'products.product.quickview_text' | t }}">
          {%- render 'icon-view' -%}
          <span class="icon__fallback-text">{{ 'products.product.quickview_text' | t }}</span>
          {%- if product.metafields.info.shortdesc != blank -%}
            <span class=" txt-short hide" >
              {{ product.metafields.info.shortdesc | strip_html | truncatewords: 12 }}
            </span>
          {%- else -%}
            <span class=" txt-short hide" >
              {{ product.description | strip_html | truncatewords: 12 }}
            </span>
          {%- endif -%}
        </span>
        </span>
        {%- endif -%}

        {%- if settings.enable_wishlsit -%}
          <span data-toggle="tooltip" data-placement="left" data-tooltipalltimes="true" class=" gradient-theme-vertical product-card__overlay-btn js-btn-wishlist" title="{{ 'products.product.wishlist_text' | t }}" data-handle="{{ product.handle }}">
            {%- render 'icon-heart-2' -%}
          </span>
        {%- endif -%}

        {%- if settings.enable_compare -%}
        <span class=" product-card__overlay-btn js-btn-compare" title="{{ 'products.product.compare_text' | t }}" data-handle="{{ product.handle }}">
          {%- render 'icon-exchange' -%}
          {%- render 'icon-close-solid' -%}
          <span>{{ 'products.product.compare_text' | t }}</span>
        </span>
        {%- endif -%}
      </div>
      
    </div>
  </div>
</div>