<!-- product-tab.liquid  -->

{%-liquid
  assign enable_carousel = section.settings.enable_carousel
  assign show = section.settings.show 
  assign style_tab = section.settings.style_tab
  case show
    when 3
    assign column = ' col-lg-4 col-6'
    when 4
    assign column = ' col-lg-3 col-6'
    when 5
    assign column = 'col'
    when 6
    assign column = ' col-lg-2 col-6'
  endcase
-%}
{%- style -%}
.customstyle{{ section.id }} .prdtab-content{
  margin:0 -{{ section.settings.spaceBetween | divided_by: 2 }}px;
}
.customstyle{{ section.id }} .prdtab-content .producttab-item{
  padding: 0 {{ section.settings.spaceBetween | divided_by: 2 }}px;
}
.style-button.nav-tabs .nav-item{
  margin-bottom:0;
}
.style-button.nav-tabs.nav-tabs-1{
  box-shadow:none;
  gap: 16px;
}
.style-button.nav-tabs.nav-tabs-1 .nav-link{
  border:2px solid rgba(var(--g-color-heading-rgb),0.1);
  padding:8px 16px;
  border-radius:var(--g-font-radius-btn);
}
.style-button.nav-tabs.nav-tabs-1 .nav-link:before{
  display:none;
}
.style-button.nav-tabs.nav-tabs-1 .nav-link.active{
  background-color:rgba(var(--g-color-heading-rgb),1);
  color:white;
}
{%- endstyle -%}
<div class="customstyle{{ section.id }} "  data-aos="{{ section.settings.animation }}" >
  {%- render 'style-section' -%}
  <div class="{{ section.settings.setwidth }}">
    <div class="section-block">
      {%- render 'section-heading' -%}
      <div id="Producttab-{{ section.id }}" data-section-id="{{ section.id }}" 
              {% if enable_carousel %}
              data-section-type="producttab" 
              {% endif %}
              data-rows="{{ section.settings.rows }}"
              data-slidesToShow="{{ section.settings.show }}"
              data-arrows="{{ section.settings.arrows }}"
              data-dots="{{ section.settings.dots }}" 
              data-draggable="{{ section.settings.draggable }}" 
              data-infinite="{{ section.settings.infinite }}"
                >
        <div class="text-center mb-5">
          <ul class="nav nav-tabs nav-tabs-1 d-inline-flex style-{{ style_tab }}" role="tablist">
            {%- for block in section.blocks -%}
            <li class="nav-item" role="presentation">
              <a id="{{ block.id }}-tab" class="nav-link nav-link-{{ block.id }} {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#prdtab-{{block.id}}" role="tab" aria-controls="prdtab-{{ block.id }}" {{ block.shopify_attributes }}>
                {% if section.settings.style_tab == 'with_icon' %}
                <div class="product-tab-icon-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="158" height="21" viewBox="0 0 158 21" fill="none">
                    <path d="M156.819 9.66649C155.597 8.55398 154.094 7.83585 152.49 7.59897C153.613 7.11276 154.624 6.38197 155.457 5.45516C156.462 4.33367 157.73 2.18223 156.579 0.702164C155.427 -0.777903 153.372 0.374108 152.279 1.27436C151.426 1.98779 150.73 2.88657 150.241 3.90868C149.751 4.93079 149.479 6.05188 149.444 7.19462C149.441 7.20967 149.441 7.22536 149.444 7.24041C146.592 8.52392 143.672 9.63453 140.699 10.5667C141.694 9.59225 142.457 8.38788 142.929 7.04968C143.257 5.99684 143.497 3.92932 141.93 3.92932C140.363 3.92932 139.015 5.67641 138.396 6.93523C138.06 7.60437 137.861 8.33904 137.811 9.09281C137.761 9.84658 137.861 10.6031 138.104 11.3144C132.369 12.8816 126.48 13.7469 120.555 13.8931C122.931 12.5351 125.518 10.3302 123.193 8.97987C121.903 8.21694 120.162 9.30791 119.141 10.1166C117.928 11.0721 117.015 12.3842 116.518 13.8854C115.541 13.8854 114.565 13.8092 113.603 13.7405C110.611 13.4963 107.635 13.0708 104.69 12.4664C104.692 12.4138 104.678 12.3619 104.649 12.3184C104.621 12.275 104.58 12.2422 104.533 12.225C104.485 12.2079 104.434 12.2073 104.386 12.2233C104.338 12.2393 104.296 12.271 104.267 12.3138C104.263 12.334 104.263 12.3547 104.267 12.3749C101.789 11.8637 99.333 11.2839 96.8697 10.6812C98.2384 10.0781 99.4447 9.13239 100.382 7.92703C100.871 7.27855 101.782 5.97395 100.914 5.24154C100.047 4.50914 98.1013 5.68404 97.2705 6.17231C95.7644 7.05978 94.5077 8.34639 93.6266 9.90299C88.4927 8.53765 83.2705 7.56616 78.0015 6.99627C76.8136 6.88946 75.6403 6.82842 74.4597 6.78265V6.69873H74.4961C75.6767 5.66115 76.6096 3.64704 75.9099 2.1212C75.6727 1.54884 75.2506 1.08221 74.7175 0.803187C74.1844 0.524169 73.5745 0.450587 72.9948 0.595356C70.7574 1.35828 71.581 5.29495 73.2499 6.80554C68.4424 6.73979 63.6373 7.06629 58.8783 7.78207L58.6087 7.54557C58.3901 6.75298 58.0187 6.01571 57.5173 5.3793C57.0159 4.74288 56.3952 4.22082 55.6935 3.8454C54.7315 3.34187 52.9752 2.83834 52.1516 3.92932C50.6941 5.85951 54.3744 7.37773 56.9106 8.07961C52.3994 8.79676 47.8956 9.74278 43.3479 10.7498C41.7155 11.1084 40.0684 11.4517 38.4141 11.7645L38.1882 11.5738C38.1948 11.5334 38.1948 11.4921 38.1882 11.4517C37.5965 9.79619 36.4766 8.40551 35.018 7.51506C33.8883 6.79791 31.8988 6.0655 31.0898 7.66C30.361 9.05615 31.9352 10.3989 32.9409 11.0703C33.9074 11.7196 35.016 12.1004 36.1621 12.1765C30.7756 13.193 25.2866 13.4802 19.8301 13.031L19.6625 12.825C19.8033 11.0069 19.3173 9.19619 18.2924 7.72104C17.5636 6.78265 15.8947 5.71456 14.736 6.55377C13.5772 7.39298 14.1602 9.53679 14.8015 10.6049C15.3067 11.4664 16.0309 12.1638 16.8931 12.619C13.6396 12.0523 10.4776 11.0123 7.49915 9.52917C7.04731 7.69053 6.49342 5.81374 5.16704 4.44811C4.30708 3.57075 2.558 2.51029 1.40652 3.44869C0.255045 4.38708 1.58144 6.45459 2.25921 7.33958C2.89355 8.18681 3.67486 8.90119 4.56216 9.44525C3.41175 9.77135 2.33599 10.337 1.39925 11.1084C0.284212 12.0315 -0.568466 13.832 0.553859 15.129C1.4867 16.2047 3.06816 15.8004 3.97185 14.9078C5.14386 13.5917 5.98747 11.9931 6.42784 10.2539H6.56631H6.68292C12.2071 13.443 18.2195 14.656 24.3267 14.7552C23.7141 15.091 23.1334 15.487 22.5922 15.9377C21.6302 16.7006 20.282 18.2265 20.9962 19.6608C21.7104 21.0951 23.4012 20.3321 24.2903 19.5692C25.7239 18.3185 26.7336 16.6167 27.169 14.717C30.9697 14.5462 34.7542 14.095 38.4943 13.3667C40.5348 12.9852 42.5609 12.6037 44.5723 12.1765C44.034 12.6042 43.5449 13.0957 43.1147 13.6413C42.5244 14.4042 40.9284 16.8608 42.1892 17.7153C43.45 18.5698 45.3229 17.0134 46.11 16.2276C47.2518 15.0797 47.9409 13.5253 48.0413 11.8713L48.1798 11.7416C48.2202 11.7062 48.2479 11.6575 48.2585 11.6035C48.2691 11.5495 48.2619 11.4933 48.2381 11.4441C54.274 10.1526 60.3771 9.23293 66.5159 8.68995C66.0416 9.00048 65.5865 9.34192 65.1531 9.71226C63.9652 10.7117 62.0777 12.764 62.8429 14.6255C63.5279 16.2581 65.758 14.9917 66.6617 14.2745C68.4035 12.886 69.3801 10.6583 70.0141 8.50685C72.688 8.42163 75.3644 8.49294 78.0307 8.72046H78.3222C78.8794 10.217 79.8262 11.5201 81.0551 12.4817C81.8859 13.1454 83.7444 14.4576 84.8885 13.8778C86.0327 13.298 85.6173 11.589 85.1145 10.7117C84.8808 10.2825 84.5941 9.88746 84.2618 9.5368C90.8208 10.6888 97.256 12.5885 103.779 13.9083C103.719 15.0015 104.028 16.0819 104.653 16.96C105.382 17.9823 107.029 19.6531 108.384 19.3022C109.74 18.9512 109.259 17.1965 108.902 16.2505C108.673 15.6639 108.348 15.1241 107.94 14.656C110.666 15.1237 113.416 15.4192 116.175 15.541C120.388 15.6907 124.606 15.4687 128.783 14.8772C129.38 16.2183 130.448 17.2673 131.764 17.8069C132.77 18.2951 134.825 19.3327 135.889 18.5698C136.953 17.8069 136.559 16.3726 135.794 15.6096C134.988 14.8922 134.027 14.3896 132.995 14.1448C138.823 12.97 144.504 11.1093 149.932 8.59841C150.024 9.30228 150.262 9.97651 150.63 10.5736C150.998 11.1707 151.486 11.6762 152.06 12.0544C153.256 12.9013 155.784 14.2974 157.242 13.3667C158.7 12.4359 157.818 10.5744 156.819 9.66649ZM4.50385 12.7945C4.24891 13.3062 3.92764 13.7786 3.54914 14.1982C2.99527 14.7628 1.88753 15.3121 1.21705 14.5644C0.546573 13.8168 1.0713 12.7105 1.60331 12.1307C2.02624 11.703 2.5017 11.3361 3.01715 11.0398C3.5939 10.6976 4.20179 10.4165 4.83181 10.2005C3.93272 11.0563 3.19162 12.0777 2.64546 13.2141C2.57258 13.359 2.76207 13.4582 2.85681 13.3361C3.39139 12.5898 3.99694 11.9022 4.66418 11.2839C4.93004 11.0422 5.20993 10.818 5.50227 10.6125C5.21902 11.361 4.89042 12.0898 4.51844 12.7945H4.50385ZM3.32322 5.3331C3.17747 5.18052 2.97341 5.40939 3.0973 5.56961C3.99429 6.80651 4.95275 7.99321 5.96871 9.12481H5.69176C3.95726 8.11775 1.7855 6.3783 2.12803 4.50915C2.2665 3.70045 2.42681 3.74623 3.13373 3.91407C3.44802 4.00866 3.74577 4.15548 4.01557 4.34893C4.61829 4.76372 5.12798 5.31031 5.50957 5.95107C6.0355 6.87231 6.4215 7.87351 6.65376 8.91883C5.62288 7.65053 4.51527 6.45283 3.33779 5.3331H3.32322ZM16.3757 9.36895C17.0028 10.4765 17.7197 11.5255 18.5183 12.5046C17.5605 12.2466 16.6884 11.7189 15.9968 10.9787C15.5472 10.4715 15.2046 9.87111 14.991 9.21637C14.8946 8.90151 14.8311 8.57664 14.8015 8.24746C14.6704 7.68289 14.9109 7.38536 15.5303 7.34721C16.4049 6.94287 16.8713 7.17174 17.5418 7.88888C17.9367 8.32688 18.2396 8.84667 18.4309 9.41473C18.6829 10.1821 18.8253 10.9841 18.8536 11.795C18.1248 10.9253 17.345 10.0861 16.6672 9.20111C16.5069 9.04852 16.281 9.23925 16.3757 9.36895ZM24.9826 17.7611C24.6679 18.1694 24.3138 18.5427 23.9259 18.875C23.5956 19.1785 23.2119 19.4117 22.7963 19.5616C21.7031 19.1649 21.4116 18.6079 21.929 17.906C22.6378 16.7972 23.6303 15.9194 24.7931 15.3731C24.1566 16.0534 23.6144 16.8238 23.1825 17.6619C23.0805 17.8679 23.3502 18.1197 23.5032 17.9213C23.9712 17.2711 24.48 16.6543 25.0264 16.075C25.449 15.6402 25.9373 15.274 26.3965 14.8849C26.106 15.9414 25.6262 16.9305 24.9826 17.7992V17.7611ZM34.7775 11.055C33.8956 10.7346 32.2267 9.84959 31.8623 8.86542C32.0955 7.56845 32.6567 7.14885 33.5604 7.59897L34.2309 7.91177C34.7899 8.20732 35.3074 8.58214 35.7686 9.02564C36.2028 9.45341 36.5825 9.93805 36.8982 10.4676C35.8823 9.76939 34.8205 9.14733 33.7207 8.60603C33.6765 8.58236 33.6254 8.57707 33.5776 8.59122C33.5298 8.60537 33.4889 8.63792 33.4631 8.68233C33.4372 8.72674 33.4284 8.77973 33.4384 8.83067C33.4483 8.88161 33.4763 8.92673 33.5167 8.95698C34.741 9.76568 35.9071 10.6278 37.0877 11.4822C36.3016 11.4986 35.519 11.3668 34.7775 11.0932V11.055ZM47.3417 11.734L44.2443 14.9535C44.0986 15.0985 44.3172 15.3274 44.463 15.1824L47.2251 12.5732C47.0323 13.4713 46.6376 14.3083 46.0736 15.0146C45.6728 15.5105 42.6775 18.0052 42.7576 16.0903C42.8087 14.7933 44.2152 13.3972 45.1335 12.6495C45.5401 12.3217 45.9661 12.021 46.4088 11.7493L47.3708 11.5585C47.3635 11.6577 47.349 11.7111 47.3417 11.7722V11.734ZM55.73 7.08019C55.1178 6.79791 53.2084 5.94344 52.9752 5.27207C52.1954 2.9833 55.4822 4.46337 56.0069 4.8372C56.5959 5.25054 57.093 5.79176 57.4645 6.42407L55.7445 4.98215C55.5186 4.79142 55.198 5.09659 55.4166 5.31784C56.2547 6.17231 57.1074 7.02678 57.9892 7.82785C57.2137 7.65994 56.4567 7.40942 55.73 7.08019ZM67.7403 11.6577C67.1791 12.5427 63.885 15.9072 63.783 13.1836C63.732 11.8103 65.5758 10.3608 66.5159 9.62072C67.0101 9.23654 67.5315 8.89223 68.0755 8.59077C67.6747 9.05615 67.303 9.57494 66.9313 10.048C66.3848 10.7422 65.8455 11.4365 65.3426 12.1689C65.2187 12.3443 65.4956 12.5656 65.6341 12.3977C66.2609 11.673 66.873 10.9329 67.5071 10.2082C68.0099 9.63598 68.593 9.08668 69.0594 8.46871H69.2853C68.8502 9.57211 68.3336 10.6383 67.7403 11.6577ZM73.4248 1.25909C74.5107 1.06836 75.3488 2.1975 75.3633 3.23507C75.2816 4.24424 74.8607 5.19039 74.1754 5.90529C74.0979 5.67844 74.0346 5.44653 73.9859 5.21103C73.8937 4.59508 73.8814 3.96889 73.9495 3.3495C73.9495 3.113 73.6143 3.06722 73.556 3.29609C73.3405 4.13414 73.2983 5.01066 73.4321 5.86715C72.3899 4.31842 71.632 1.61004 73.4248 1.28962V1.25909ZM84.6918 12.0316C84.976 13.4735 83.4966 12.9623 82.8042 12.619C81.1899 11.7815 79.8559 10.4515 78.9781 8.80439C79.4081 8.84253 79.8381 8.90357 80.2681 8.94934L80.9021 9.59019C81.4341 10.1319 81.9515 10.6888 82.5054 11.2076C82.5332 11.2372 82.5662 11.2607 82.6027 11.2769C82.6391 11.2931 82.6782 11.3016 82.7178 11.3019C82.7574 11.3023 82.7967 11.2945 82.8334 11.2789C82.8701 11.2634 82.9035 11.2405 82.9318 11.2114C82.96 11.1823 82.9825 11.1478 82.9979 11.1096C83.0134 11.0715 83.0215 11.0305 83.0219 10.989C83.0222 10.9476 83.0147 10.9065 82.9999 10.8681C82.9851 10.8296 82.9631 10.7947 82.9354 10.7651C82.418 10.2158 81.8787 9.64361 81.3175 9.08667L82.6075 9.2774C83.2305 9.65098 83.7599 10.1739 84.1525 10.8032C84.4038 11.1851 84.5866 11.6116 84.6918 12.0621V12.0316ZM95.6235 10.3608L95.1352 10.2387C96.231 9.66024 97.277 8.98382 98.2617 8.21694C98.5313 7.98044 98.1888 7.59135 97.9119 7.7363C96.7917 8.39134 95.7263 9.14422 94.7271 9.98692C94.6831 10.0202 94.6521 10.069 94.6396 10.1242L94.1222 9.99455C95.4036 8.15554 97.1798 6.75834 99.2237 5.98158C99.4217 5.90403 99.6237 5.83781 99.8286 5.78322C100.441 6.3783 100.433 6.91998 99.8286 7.39299C99.5643 7.73703 99.2743 8.05847 98.9613 8.35427C98.0519 9.17754 96.99 9.79566 95.8421 10.17C95.7926 10.1882 95.7474 10.2174 95.7097 10.2556C95.672 10.2938 95.6426 10.3401 95.6235 10.3913V10.3608ZM107.35 18.2341C106.402 17.8078 105.603 17.0858 105.061 16.1666C104.68 15.5572 104.466 14.85 104.442 14.1219C105.054 15.2569 105.904 16.2323 106.927 16.9753C107.204 17.1736 107.546 16.7159 107.284 16.487C106.433 15.7825 105.649 14.993 104.945 14.1296C105.389 14.2135 105.826 14.3051 106.271 14.3814C106.84 14.7371 107.326 15.222 107.692 15.8004C108.202 16.5938 108.989 18.7605 107.35 18.2646V18.2341ZM118.791 13.8854H117.997C119.403 13.2562 120.728 12.4436 121.94 11.467C122.224 11.2305 121.94 10.7041 121.648 10.9406C120.154 11.9476 118.609 12.8708 117.108 13.8702C117.518 12.8727 118.127 11.9782 118.893 11.2467C119.66 10.5152 120.567 9.96346 121.554 9.62834C122.785 9.30029 123.077 10.6736 122.472 11.5433C121.998 12.0935 121.439 12.5553 120.817 12.9089C120.177 13.3248 119.498 13.6724 118.791 13.9465V13.8854ZM133.447 15.1824C134.097 15.391 134.703 15.7277 135.233 16.1742C135.388 17.6543 135.06 18.2341 134.249 17.9137L133.71 17.7611C131.91 17.2576 130.314 16.4336 129.337 14.8086L129.811 14.7323C130.962 15.5562 132.128 16.4031 133.331 17.1279C133.395 17.1683 133.473 17.1802 133.546 17.1609C133.619 17.1416 133.682 17.0927 133.721 17.0249C133.759 16.9571 133.771 16.876 133.752 16.7995C133.734 16.7229 133.687 16.6572 133.622 16.6167C132.616 15.8996 131.552 15.2511 130.488 14.6179L130.999 14.5339C131.833 14.6833 132.652 14.9105 133.447 15.2129V15.1824ZM139.11 11.0016L138.381 11.2076C138.378 11.1619 138.378 11.116 138.381 11.0703C138.399 11.0886 138.421 11.1023 138.445 11.1101C138.469 11.1178 138.495 11.1196 138.52 11.1151C138.545 11.1107 138.568 11.1001 138.588 11.0844C138.609 11.0686 138.625 11.0481 138.636 11.0245C138.955 10.2744 139.343 9.55893 139.795 8.88831C140.298 8.12539 140.932 7.56845 141.471 6.8742C141.653 6.63006 141.413 6.18757 141.121 6.40119C139.818 7.53072 138.858 9.03419 138.359 10.727C138.286 9.68123 138.461 8.63277 138.869 7.67527C139.241 6.85131 140.116 5.3865 141.056 5.17288C143.366 4.69987 141.785 7.75156 141.231 8.59077C140.607 9.47956 139.896 10.2978 139.11 11.0321V11.0016ZM153.933 3.00619C152.379 4.00765 151.061 5.36382 150.078 6.97338C150.214 5.43384 150.81 3.97854 151.783 2.81546C152.248 2.2559 152.794 1.77694 153.401 1.39643C154.385 0.786088 156.316 0.335963 156.433 2.09831C156.521 3.62415 155.18 4.97453 154.123 5.78322C153.077 6.57137 151.864 7.08189 150.588 7.27092C151.112 6.59055 151.679 5.94821 152.286 5.34835C152.935 4.7075 153.686 4.18871 154.334 3.54786C154.618 3.30372 154.254 2.86123 153.933 3.0367V3.00619ZM155.959 12.6953C153.627 12.558 151.033 10.8261 150.596 8.40004C151.88 9.77866 153.485 10.7831 155.252 11.3144C155.33 11.3291 155.409 11.3156 155.478 11.2763C155.547 11.2369 155.601 11.1741 155.631 11.0982C155.66 11.0223 155.664 10.9379 155.642 10.8593C155.62 10.7806 155.572 10.7123 155.508 10.6659C154.626 10.1624 153.671 9.8267 152.796 9.29265C152.301 8.98749 151.834 8.65181 151.375 8.30849C152.549 8.29253 153.706 8.59478 154.735 9.18585C155.353 9.49253 155.921 9.89933 156.419 10.3913C157.162 11.2534 157.497 12.8174 155.959 12.7258V12.6953Z" fill="#FF6E81"/>
                  </svg>
                </div>
                {% endif %}
                {{ block.settings.title }}
              </a>
            </li>
            {%- endfor -%}
          </ul>
        </div>
        <div class="tab-content" data-aos="{{ section.settings.animation }}">
          {%- for block in section.blocks -%}
          {%- assign collection = collections[block.settings.collection] -%}
          {%- assign limit = section.settings.limit -%}
          <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="prdtab-{{ block.id }}" role="tabpanel" aria-labelledby="{{ block.id }}-tab">
            <div class="prdtab-content row {% if show == 5 %} row-cols-5 {% endif %}" {% if enable_carousel %} style="opacity:0" {% endif %}>
              {%- if collection != blank -%}
              {%- for product in collection.products limit: limit -%}
              <div class="producttab-item {% if enable_carousel %} col {% else %} {{ column }} {% endif %}" data-scroll data-scroll-speed="1" >
                <div data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}">
                {%- render 'product-card', product: product -%}
                </div>
              </div>
              {%- endfor -%}
              {%- else -%}
              {%- for i in (1..limit) -%}
              <div class="producttab-item {% if enable_carousel %} col {% else %} {{ column }} {% endif %}">
                  <div data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}">
                  {%- render 'product-grid-blank' -%}
                  </div>
              </div>
              {%- endfor -%}
              {%- endif -%}
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product tab",
  "class": "index-section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Feft"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "bgsection",
      "label": "Background Section",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title_top",
      "label": "Sub Title Top",
      "default": "Sub Title Top"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Product tab"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "HTML / Description"
    },
    {
      "type": "select",
      "id": "align-heading",
      "label": "Align Heading",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "style_tab",
      "label": "Style Tab",
      "default": "line",
      "options": [
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "button",
          "label": "Button"
        },
        {
          "value": "with_icon",
          "label": "With icon"
        },
        {
          "value": "line-right",
          "label": "Line right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "label": "Enable Carousel",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    },
    {
      "type": "select",
      "id": "rows",
      "label": "Rows",
      "default": "1",
      "info":"It will working with enable carousel",
      "options": [
        {
          "value": "1",
          "label": "1 row"
        },
        {
          "value": "2",
          "label": "2 rows"
        }
      ]
    },
    {
      "type": "range",
      "id": "spaceBetween",
      "label": "Space Between",
      "max": 40,
      "min": 0,
      "step": 1,
      "unit": " sp",
      "default": 30
    },
    {
      "type": "range",
      "id": "limit",
      "min": 3,
      "max": 30,
      "step": 1,
      "label": "Limit items",
      "default": 10
    },
    {
      "type": "range",
      "id": "show",
      "min": 3,
      "max": 6,
      "step": 1,
      "label": "Items",
      "default": 3
    },
    {
      "type": "header",
      "content": "Section Padding "
    },
    {
      "type": "text",
      "id": "paddingsection",
      "label": "Padding Section",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "paddingmobile",
      "label": "Padding Section Mobile",
      "default": "40px 0px 40px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "header",
      "content": "Section Margin "
    },
    {
      "type": "text",
      "id": "marginsection",
      "label": "Margin Section",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginmobile",
      "label": "Margin Mobile",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title tab"
        },
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product tab",
      "category": "Collection",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}